@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* shared styles */
.display_flex {
  display: flex;
}
.button_primary_color {
  border-radius: 8px;
  padding: 1rem;
  background: rgb(255, 144, 14);
  border-style: none;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-primary_color {
  color: rgb(66, 66, 66);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.text_desc_color_code {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.bg-Color {
  background-color: rgba(255, 144, 14, 0.1);
}

main > section {
  margin-top: 130px;
}
/* header style */
/* navbar style  */
.navbar,
.banner {
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}
nav {
  padding: 3rem;
}
.nav_item {
  list-style: none;
  margin-right: 40px;
}
.nav_link {
  text-decoration: none;
}

.brand {
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
}

/* banner_related style */
.banner_content {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.banner {
  margin-top: 3rem;
}

.banner_title {
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0%;
  text-align: center;
}

.Banner_desc {
  margin-top: 1rem;
}
.banner_image {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 8px;
}

/* our_features */
.our_features {
  width: 530px;
}
.teams {
  align-items: center;
  gap: 50px;
}

.our_features_text {
  font-family: Work Sans;
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;

  color: rgb(114, 114, 114);
}

.our_features_text_of_our {
  color: rgb(19, 19, 19);
}
.our_features_text_of_features {
  color: rgb(255, 144, 14);
}

.team_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#features_section_title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}

.features {
  gap: 100px;
}

.features_card {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 30px;
  margin-bottom: 45px;
}
.someFacts {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: left;
}
/* someFacts_item style start */
.someFacts_container p {
  max-width: 50%;
}

.someFacts_icon_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  margin-bottom: 30px;
}
.someFacts_item {
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  width: 240px;
  height: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Facts_number {
  color: rgb(66, 66, 66);
  font-family: Work Sans;
  font: size 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.Facts_name {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font: size 1.25rem;
  font-weight: 600;
}
.Sponspors_info {
  width: 540px;
  text-align: center;
  margin: 0 auto;
}

.Sponspors_info_title {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
}

.sponsor_companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 30px;
}
.sponsor_companies img {
  filter: grayscale(100%);
}

footer {
  max-width: 1440px;
  margin: 0 auto;
}

.Footer_container {
  border-radius: 8px;
  padding: 30px;
  background: rgb(255, 244, 231);
  margin-top: 50px;
  margin-bottom: 80px;
}

.Footer_container p {
  text-align: center;
  margin: 0 auto;
}
/* responsive media query */

@media screen and (max-width: 576px) {
  .navbar,
  .nav_links,
  .teams {
    flex-direction: column;
  }
  .team_img_container,
  .someFacts_icon_container,
  .sponsor_companies {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .our_features {
    text-align: center;
    margin: 40px;
    width: 100%;
  }

  .someFacts_container,
  .sponsor_companies {
    justify-items: center;
  }

  .someFacts_container p {
    max-width: 100%;
    text-align: center;
  }
}

/* medium size device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }

  .our_features {
    text-align: center;
    margin: 40px;
    width: 100%;
  }

  .someFacts_icon_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .sponsor_companies {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}
